body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: #111;
  color: #EEE;
}

a {
  color: #00B7FF;
}

.task-block {
  display: inline-block;
  position: relative;
  height: 12em;
  width: 20em;
  border: thin solid #444;
  padding: 0.5em;
  margin: 0.25em;
  background: #333;
}

.task-block-id {
  position: absolute;
  top: 0.25em;
  right: 0.25em;
}

.task-block-name {
  font-size: 1.25em;
  font-weight: bold;
  margin-bottom: 0.5em;
}

.task-block-date {
  font-size: smaller;
}

.task-complete {
  font-style: italic;
  color: #AAA;
}